# Python cache / compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.env
.venv
env/
venv/
ENV/

# IDE configs
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db
02 - Vela luka.ogg
GENERALKA.mp4
How to Make Progress Every Day No Matter What.mp3


# Test / coverage reports
.pytest_cache/
.coverage
htmlcov/

# Build / distribution
build/
dist/
*.egg-info/
